### Import bus stop data and transform by NJ municipality


key = 'AIzaSyDW2X9d_T7NM4HBj3VsXsKTbJKCfgRBDCw'

In [1]:
import pandas as pd
import urllib.request
import requests
import json
from pprint import pprint
from http.client import HTTPResponse

In [2]:
stops = pd.read_csv('Data/bus/stops.txt')
stops.info()
stops.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16545 entries, 0 to 16544
Data columns (total 7 columns):
stop_id      16545 non-null int64
stop_code    16545 non-null object
stop_name    16545 non-null object
stop_desc    0 non-null float64
stop_lat     16545 non-null float64
stop_lon     16545 non-null float64
zone_id      16545 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 904.9+ KB

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id
0,40785,pppppppppp,10TH AVE AT BELMAR PLAZA,NaN,40.179839,-74.027243,25432
1,162,10817,MAIN ST AT ADAMS AVE,NaN,39.395538,-74.519212,0
2,163,10837,MAIN ST AT DELILAH RD,NaN,39.405069,-74.510613,0
3,164,10811,MAIN ST AT DELILAH RD,NaN,39.404748,-74.511040,0
4,165,10820,MAIN ST AT BAYVIEW AVE,NaN,39.386739,-74.526992,0
5,166,10808,MAIN ST AT CEDARCREST AVE,NaN,39.409949,-74.506393,8195
6,167,10830,MAIN ST AT DECATUR AVE,NaN,39.388969,-74.524952,0
7,168,10819,MAIN ST AT DECATUR AVE,NaN,39.389008,-74.525101,0
8,169,10827,MAIN ST AT E. GLENDALE AVE,NaN,39.381749,-74.531390,0
9,170,10828,MAIN ST AT E. GREENFIELD AVE,NaN,39.384538,-74.528890,0
10,171,10818,MAIN ST AT PLEASANT AVE,NaN,39.393768,-74.520792,0
11,172,10813,MAIN ST AT READING AVE,NaN,39.400849,-74.514431,0
12,173,10841,MAIN ST AT REDWOOD AVE,NaN,39.412180,-74.504621,0
13,174,10825,MAIN ST AT RIDGEWOOD AVE,NaN,39.377849,-74.536030,0
14,176,10838,MAIN ST AT THOMPSON AVE,NaN,39.406008,-74.509763,0
15,177,10810,MAIN ST AT THOMPSON AVE,NaN,39.405850,-74.510041,0
16,178,10823,MAIN ST AT TILTON RD,NaN,39.378820,-74.534983,0
17,179,10816,MAIN ST AT WOODLAND AVE,NaN,39.396387,-74.518473,0
18,180,10842,MAIN ST AT CALIFORNIA AVE,NaN,39.413388,-74.503852,0
19,181,10852,W JERSEY AVE AT MAIN ST,NaN,39.390759,-74.522971,8192
20,182,10824,MAIN ST AT RIDGEWOOD AVE,NaN,39.377997,-74.535983,0
21,183,10826,MAIN ST AT ASHLAND AVE,NaN,39.378967,-74.534670,0
22,184,10831,MAIN ST 200'N OF PLEASANT AVE,NaN,39.393979,-74.520500,0
23,185,10834,MAIN ST AT MULBERRY AVE,NaN,39.399218,-74.515823,0
24,186,10807,MAIN ST AT REDWOOD AVE,NaN,39.412489,-74.504520,0
25,187,10809,MAIN ST AT LEEDS AVE,NaN,39.407850,-74.508281,0
26,188,10814,MAIN ST AT BRIGHTON AVE,NaN,39.400188,-74.515023,0
27,189,10815,MAIN ST AT MULBERRY AVE,NaN,39.398739,-74.516332,0
28,190,10821,MAIN ST AT E. GREENFIELD AVE,NaN,39.384728,-74.528850,0
29,191,10822,MAIN ST AT E. GLENDALE AVE,NaN,39.381530,-74.531693,0
30,192,10829,MAIN ST AT BAYVIEW AVE,NaN,39.386399,-74.527242,0
31,193,10832,MAIN ST AT ADAMS AVE,NaN,39.395319,-74.519252,0
32,194,10833,MAIN ST AT E. MERION AVE,NaN,39.397270,-74.517571,0
33,195,10835,MAIN ST AT READING AVE,NaN,39.401630,-74.513660,0
34,196,10836,MAIN ST AT STENTON PL,NaN,39.402698,-74.512711,0
35,197,10839,MAIN ST AT LEEDS AVE,NaN,39.408099,-74.507900,0
36,198,10840,MAIN ST AT CEDARCREST AVE,NaN,39.410108,-74.506112,0
37,199,10855,NEW RD AT PARK AVE,NaN,39.387068,-74.537461,0
38,200,10858,NEW RD AT PARK AVE,NaN,39.386958,-74.537511,0
39,201,10859,NEW RD AT NOAHS RD,NaN,39.388959,-74.535082,0
40,203,10856,NEW RD AT TILTON RD,NaN,39.383599,-74.542464,0
41,204,10857,NEW RD AT TILTON RD,NaN,39.383618,-74.542272,0
42,205,10853,W JERSEY AVE AT MAIN ST,NaN,39.390589,-74.522791,8192
43,207,10850,NEW RD AT CALIFORNIA AVE,NaN,39.414720,-74.512041,8192
44,209,10029,SHORE RD AT CALIFORNIA AVE,NaN,39.413648,-74.503790,0
45,210,10002,NEW RD AT NEW JERSEY AVE,NaN,39.429279,-74.504943,0
46,211,10031,WYOMING AVE AT PITNEY RD,NaN,39.432227,-74.498583,0
47,212,10013,WHITE HORSE PIKE AT STATION AVE,NaN,39.423730,-74.500402,0
48,215,10512,STOCKTON UNIVERSITY,NaN,39.493379,-74.528370,8192
49,216,10485,RT-9 AT QUAIL HILL BLVD,NaN,39.490650,-74.458313,0

In [3]:
# Build the latitude/longitude lookup field
latlng = []
for i in range(len(stops)):
    latlng.append(str(stops['stop_lat'][i])+','+str(stops['stop_lon'][i]))

In [4]:
latlng[:20]

['40.179839,-74.027243',
 '39.395538,-74.519212',
 '39.405069,-74.510613',
 '39.404748,-74.51104',
 '39.386739,-74.526992',
 '39.409949,-74.506393',
 '39.388969,-74.524952',
 '39.389008,-74.525101',
 '39.381749,-74.53139',
 '39.384538,-74.52889',
 '39.393768,-74.520792',
 '39.400849,-74.514431',
 '39.41218,-74.504621',
 '39.377849,-74.53603',
 '39.406008,-74.509763',
 '39.40585,-74.510041',
 '39.37882,-74.534983',
 '39.396387,-74.518473',
 '39.413388,-74.503852',
 '39.390759,-74.522971']

In [5]:
starturl = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='

endurl = '&result_type=administrative_area_level_2|locality&key=AIzaSyDW2X9d_T7NM4HBj3VsXsKTbJKCfgRBDCw'

In [6]:
towns = []
munis = []
counties = []
for place in latlng:
    url = starturl+place+endurl
    response = requests.get(url)
    towns.append(response.json()['results'][0]['address_components'][0]['long_name'])
    munis.append(response.json()['results'][0]['address_components'][0]['short_name'])
    counties.append(response.json()['results'][0]['address_components'][1]['long_name'])

IndexError: list index out of range

In [ ]:
df = pd.DataFrame([towns,munis,counties]).T
df.columns = ['towns','munis','counties']
df['lower_town'] = [town.lower() for town in df['towns']]
df['vals'] = [1]*len(df)
#counties
df.head(30)

In [ ]:
df['county'] = [county.lower() for county in df['counties']]
df['county'] = [county.replace(' county','') for county in df['county']]
df.head()

In [ ]:
trains = df.groupby(['towns','munis','county','lower_town']).count()
trains.reset_index(inplace=True, level=['towns','munis','county','lower_town'])
#trains['town_bare'] = trains['towns'].lower()
trains.columns

trains.sort_values(by='towns')

In [ ]:
source = starturl+latlng[10]+endurl
source

In [ ]:
import requests
response = requests.get(source)
response.headers['content-type']

In [ ]:
response.json()['results'][0]['address_components'][0]['long_name']

In [ ]:
type(response.json())

In [ ]:
muni_names = pd.read_pickle('muni_names.pkl')

In [ ]:
t =[muni.replace(' twp','') for muni in muni_names['town'] ]
t =[muni.replace(' boro','') for muni in t ]
t =[muni.replace(' city','') for muni in t ]
t =[muni.replace('jersey','jersey city') for muni in t ]
t

In [ ]:
muni_names['town_bare'] = t
muni_names.sort_values(by='town_bare')
muni_names['town_bare'][83]

In [ ]:
muni_names['town_bare'][83] = 'atlantic city'
muni_names['town_bare'][83]

In [ ]:
muni_names['lower_town'] = muni_names['town_bare']

In [ ]:
m = muni_names.merge(trains, on=['lower_town','county'], how='outer')

In [ ]:
m.head()
m.info()

In [ ]:
m.to_csv('trainmerge.csv')

In [ ]:
stations = pd.read_csv('njtrain_stations.csv')
stations = stations.fillna(0)

In [ ]:
stations.head()

In [ ]:
stations.to_pickle('njtrain_stations.pkl')