In [1]:
import pandas as pd

df = pd.read_pickle('d2.pkl')

In [12]:
df[['hh_inc_mean']].describe()

         hh_inc_mean
count     565.000000
mean   107188.479646
std     44949.990407
min         0.000000
25%     77758.000000
50%     95407.000000
75%    128767.000000
max    272590.000000

In [10]:
df.iloc[541,0:40]

town                                        Westfield town
county                                        Union County
state                                           New Jersey
FIPS                                            3403979040
city_town         Westfield town, Union County, New Jersey
p_in_lab                                              67.8
p_unemployed                                           4.9
p_fem_labforce                                        57.4
p_fem_employed                                        52.1
p_ch6_paremp                                            55
p_com_car                                             70.8
p_com_carpool                                          3.2
p_com_transit                                         15.4
p_com_walk                                             2.4
p_com_other                                            1.1
p_com_home                                             7.2
mean_com_time                                         34.6
p_occ_bus                                             58.9
p_occ_serv                                            10.3
p_occ_sales                                           22.6
p_occ_const                                            3.2
p_occ_trans                                              5
p_ind_agri                                             0.1
p_ind_const                                            3.9
p_ind_manu                                               8
p_ind_whsl                                             2.5
p_ind_retl                                             9.9
p_ind_warehs                                           3.6
p_ind_info                                             3.8
p_ind_fire                                            17.3
p_ind_prof                                            18.1
p_ind_edu                                             20.4
p_ind_arts                                             4.7
p_ind_othserv                                          4.4
p_ind_pubadmin                                         3.2
p_class_wage                                          83.8
p_class_govt                                          10.3
p_class_self                                           5.6
p_class_unpaid                                         0.3
p_less10                                               0.7
Name: 541, dtype: object

In [9]:
df.iloc[541,40:80]

p_10to15               2.6
p_15to25               3.3
p_25to35               3.6
p_35to50               4.9
p_50to75              11.5
p_75to100              9.6
p_100to150            17.2
p_150to200            12.4
p_over200             34.2
hh_inc_med          138165
hh_inc_mean         187669
p_peop_pov             2.2
p_1hu_bldg_det        79.3
p_1hu_bldg_att         2.5
p_20hu_bldg            4.3
p_hu_mobile            0.2
p_hu_gt_2010           1.1
p_hu_lt_1939          34.1
p_hu_1room               1
p_hu_2room             0.4
p_hu_3room             5.2
p_hu_4room             6.9
p_hu_5room             6.5
p_hu_6room            13.3
p_hu_7room            15.1
p_hu_8room            16.8
p_hu_gt8room            35
num_room_med           7.6
p_hu_own_occ          79.9
hh_size_own_occ        3.1
hh_size_rent_occ       2.3
p_hh_from1969          6.5
p_hu_nocar             3.7
p_hu_1car             26.6
p_hu_2car             45.7
p_hu_3car               24
p_hu_1perroom         99.5
p_hu_under50K          1.1
p_hu_over1MM          14.5
hu_val_median       653900
Name: 541, dtype: object

In [8]:
df.iloc[541,80:120]

p_hu_mortgage      70.8
gross_rent_med     1669
p_hu_rentgt1500      61
p_malepop          46.9
p_ageless5          6.5
p_age5to9           7.3
p_age10to14         8.7
p_age15to19         8.3
p_age20to24         3.3
p_age25to34         7.8
p_age35to44        15.9
p_age45to54        16.4
p_age55to59         7.3
p_age60to64         5.4
p_age65to74         5.8
p_age75to84         4.3
p_ageover85         2.9
p_white            86.9
p_black             3.6
p_amind             0.1
p_asian             5.6
p_asian_ind         1.1
p_as_chin           2.2
p_as_filip          0.5
p_as_jap            0.1
p_as_korean         0.9
p_as_viet             0
p_as_other          0.7
p_2_races           1.5
p_latino              7
p_mexican           0.4
p_puerto_rico         1
p_cuban             1.3
p_other_lat         4.4
p_nonfamily        21.7
p_marrfam          70.4
p_malehh            1.4
p_femhh             3.2
avg_hh_size        2.94
fert_age15_19         0
Name: 541, dtype: object

In [13]:
df.iloc[541,120:154]

fert_age20_34                                                     119
fert_age35_50                                                      38
p_highsch                                                        96.5
p_bachdeg                                                        66.4
p_civvet                                                          4.7
p_civdis_18                                                       0.7
p_civdis_1864                                                     3.9
p_civdis_65                                                      28.5
p_samehouse                                                      90.7
p_diffhousUS                                                      8.7
p_abroad1yr                                                       0.6
p_nativeUS                                                       88.1
p_nativestate                                                    51.6
p_nat_citz                                                       67.2
p_spk_engl                                                       85.2
CountyLevy%ofTotalLevy                                           0.24
SchoolLevy%ofTotalLevy                                          0.582
MunicipalLevy%ofTotalLevy                                       0.178
CYMunicipalRate                                                 1.444
CYMunicipalLibraryRate                                          0.133
CYMunicipalOpenSpaceRate                                            0
CYTotalMunicipalRate                                            1.576
CYSchoolRate                                                    5.146
CYCountyRate                                                    2.126
CYTotalRate                                                     6.722
AverageResidentialPropertyValue                                179838
AverageTotalPropertyTaxes(notincludingcreditsanddeductions)     12089
StateEqualizationTableAverageRatio                              24.62
StateEqualizationTableAverageRatio(DecimalForm)                0.2462
CYCountyEQTaxRate                                               0.524
CYSchoolEQTaxRate                                               1.268
CYLocalPurposeMunicipalEQTaxRate                                0.356
CYTotalMunicipalEQRate                                          0.388
CYTotalEQRate(REAPNotIncluded)                                   2.18
Name: 541, dtype: object